<mat-card class=" mt-4 ml-1 mr-1">
  <img mat-card-image class="card-image" [src]="country.flag" [alt]="country.name">
  <mat-card-header>
    <img mat-card-avatar [src]="country.flag">
    <mat-card-title>{{country.name}}</mat-card-title>
    <mat-card-subtitle>{{country.capital}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{country.name}} has a population of {{country.population}} people and it is located in {{country.subregion}} and has over {{country.area}} km² of area. Its capital is known as {{country.capital}}.
    </p>
  </mat-card-content>
  <mat-card-actions>
      <app-favorite (iconEvent) = "recieveIcon($event)"></app-favorite>
      <button (click)="openBottomSheet(country.alpha3Code.toLowerCase())" mat-raised-button color="accent">KNOW MORE</button>
      <mat-icon color="warn">{{icon}}</mat-icon>
  </mat-card-actions>
</mat-card>
