@import '~@angular/material/theming';

@include mat_core();

$light-blue-theme-primary: mat-palette($mat-light-blue, A200, A100, A400);
$light-blue-theme-accent: mat-palette($mat-light-blue, 800, 400, 900);
$light-blue-theme-warn: mat-palette($mat-light-blue, 100, 50, 200);


$light-blue-theme: mat-light-theme($light-blue-theme-primary, $light-blue-theme-accent, $light-blue-theme-warn);

@include angular-material-theme($light-blue-theme);